<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.im"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.im.app.ImOtrApp"
        android:icon="@drawable/licenta_secure"
        android:label="@string/app_name" >
        <activity android:name="com.im.ui.FriendList" >
            <intent-filter>
                <category android:name="android.intent.category.NORMAL" >
                </category>
            </intent-filter>
        </activity>

        <service android:name="com.im.services.IMService" >
        </service>

        <activity android:name="com.im.ui.Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

               
            </intent-filter>
        </activity>
        <activity android:name="com.im.ui.Messaging" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.NORMAL" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="com.im.ui.SignUp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.NORMAL" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="com.im.ui.AddFriend" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.NORMAL" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="com.im.ui.FriendRequestResponseActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.NORMAL" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.im.ui.WelcomeScreen"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>